html
body
  width 100%
  height 100%
  margin 0
  padding 0
  box-sizing border-box

html
  overflow hidden
  font-size 100%
  background-color black

body
  overflow auto
  background url('../images/bg.jpg')
  background-size cover
  color #74c6be
  font-family 'AvenirNext-Regular', 'helvetica light', 'arial', 'sans'

@import "_main/state"
@import "_main/swiper"
@import "_main/card"
@import "_main/reload"
@import "_main/home"
@import "_main/btn"
@import "_main/summary"
@import "_main/instructions"
