html
  height 100%
  overflow hidden
  font-size 62.5%
  background-color black

body
  margin 0px
  height 100%
  overflow auto
  background url('../images/bg.jpg')
  background-size cover
  color #74c6be
  font-family 'helvetica light', 'arial', 'sans'

// @import "_main/default"
// @import "_main/hexaflip"
// @import "_main/demo"

@import "_main/swiper"
@import "_main/card"
@import "_main/reload"
