<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <!-- <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"> -->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Cover Contest Extravaganza</title>

    <!-- Add to homescreen -->
    <link rel="manifest" href="manifest.json">

    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Cover Contest Extravaganza">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <meta name="theme-color" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- htmlbuild:bowerCSS -->
    <link rel="stylesheet" href="bower_components/animate.css/animate.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/main.css">

  </head>
  <body>


    <div id="home" class="state"></div>
    <div id="summary" class="state"></div>
    <div id="deck" class="state"></div>

    <!-- htmlbuild:bowerJS -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/hammerjs/hammer.js"></script>
    <script type="text/javascript" src="bower_components/handlebars/handlebars.runtime.js"></script>
    <script type="text/javascript" src="bower_components/inobounce/inobounce.js"></script>
    <script type="text/javascript" src="bower_components/lodash/lodash.js"></script>
    <script type="text/javascript" src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- endbuild -->

    <script type="text/javascript" src="templates/templates.js"></script>
    <script type="text/javascript" src="scripts/typescript.js"></script>

  </body>
</html>
