.home
  text-align center
  width 100%
  height 100%
  display flex
  flex-direction column

.home-title
  padding-top 17%
  flex 3

.home-instructions
  flex 2

.home-start
  flex 2
  display flex
  align-items center
  justify-content center

.home-titleText
  flex 1
  margin 0
  font-family AvenirNext-Heavy
  font-size (70/16)rem
  text-transform uppercase
  line-height @font-size
  background -webkit-linear-gradient(#e4ffff, #74c6be)
  -webkit-background-clip text
  -webkit-text-fill-color transparent

  &.m-subtitle
    -webkit-text-stroke-width 0px
    -webkit-text-fill-color initial
    color #74c6be
    font-size (28/16)rem
    line-height @font-size

.home-poweredby
  flex 1
  margin 1.1rem auto 0 auto
  max-width 420px
  width 100%

.home-poweredbyLabel
  display inline-block
  font-size .7rem

.home-poweredbyLogo
  display inline-block
  width 5rem

.home-instructionsText
  display block
  font-size 1.4rem
  line-height @font-size + .3

.home-swipe
  margin 0 auto 2rem auto
  max-width 420px
  width 100%

.home-swipeArrowImg
  margin-top -10%
  margin-bottom -30%
  width 70%

.home-swipeLabel
  display inline-block
  font-family AvenirNext-Bold
  font-size (24/16)rem
  width 49%

  &.m-negative
    color #dc9090

  &.m-positive
    color #90dc95
