.summary
    text-align center
    width 100%
    height 100%
    display flex
    flex-direction column
    overflow-y auto

.summary-title
    text-transform uppercase
    font-size (32/16)rem
    margin-bottom 0.5rem

.summary-subtitle
    font-size (20/16)rem
    margin 1rem 0

.summary-list
    flex 1
    margin 0
    padding 0 1rem 0 1rem

.summary-item
    display flex
    list-style none
    height 6rem
    padding-bottom 1rem

.summary-itemImg
    height 100%

.summary-itemRating
    padding-left 1rem
    align-items flex-start
    justify-content center
    display flex
    flex-grow 1
    flex-direction column

.summary-itemRatingProgressWrapper
    width 100%
    height 0.5rem
    margin-top 1rem
    position relative

.summary-itemRatingProgressBg
    width 100%
    background-color: lighten(#90dc95, 50%)
    height 0.5rem
    position absolute
    opacity 0.5

    .summary-itemRatingProgressWrapper.m-liked &
        background-color: lighten(#90dc95, 50%)

    .summary-itemRatingProgressWrapper.m-disliked &
        background-color: lighten(#dc9090, 50%)       

.summary-itemRatingProgress
    height 0.5rem
    position absolute

    .summary-itemRatingProgressWrapper.m-liked &
        background-color: #90dc95

    .summary-itemRatingProgressWrapper.m-disliked &
        background-color: #dc9090

.summary-itemRatingText
    margin 0.4rem 0
    font-size 0.9rem

.summary-controls
    display flex
    flex-direction row

.summary-controlsBtn
    flex 1
