.summary
    text-align center
    width 100%
    height 100%
    display flex
    flex-direction column

.summary-title
    text-transform uppercase
    font-size (32/16)rem

.summary-list
    flex 1
    margin 0
    padding 0 0 0 1rem

.summary-item
    display flex
    list-style none
    flex 1
    flex-shrink 1
    height 6rem
    padding-bottom 1rem

.summary-itemImg
    height 100%

.summary-itemText
    padding-left 1rem
    text-align left

.summary-itemTitle
    font-weight bold

// .summary-itemRating

.summary-controls
    display flex
    flex-direction row

.summary-controlsBtn
    flex 1
