.swiper
  position absolute
  top 0px
  bottom 0px
  left 0px
  right 0px
  overflow hidden

// .swiperTitle
//   position absolute
//   text-align center
//   top 0px
//   left 50%
//   transform translateX(-50%)

.swiperQueue
  position absolute
  top 0px
  bottom 0px
  left 0px
  right 0px

.swiperImg
  position absolute
  left 50%
  display none
  // height 272px
  // width 270px
  width 80%

  &.tween
    transition transform 0.3s ease-out

  &.m-front-1
    display block
    // transform translate(-50%, 100px)
    transform translate(-50%, 27%)

  &.m-front-2
    display block
    // transform translate(-50%, 50px) scale(0.8)
    transform translate(-50%, 10%) scale(0.8)
    opacity 0.8

  &.m-front-3
    display block
    // transform translate(-50%, -5px)  scale(0.5)
    transform translate(-50%, -8%)  scale(0.5)
    opacity 0.5