html {
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
  background-color: #000;
}
body {
  margin: 0px;
  height: 100%;
  overflow: auto;
  background: url("../images/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #74c6be;
  font-family: 'helvetica light', 'arial', 'sans';
}
.swiper-queue {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.card-img {
  display: none;
  position: absolute;
  top: 15%;
  bottom: 21%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.card-img.tween {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.m-front-1 .card-img {
  display: block;
}
.m-front-2 .card-img {
  display: block;
  -webkit-transform: translate(0, -9%) scale(0.9);
  -moz-transform: translate(0, -9%) scale(0.9);
  -o-transform: translate(0, -9%) scale(0.9);
  -ms-transform: translate(0, -9%) scale(0.9);
  transform: translate(0, -9%) scale(0.9);
}
.m-front-3 .card-img {
  display: block;
  -webkit-transform: translate(0, -17%) scale(0.8);
  -moz-transform: translate(0, -17%) scale(0.8);
  -o-transform: translate(0, -17%) scale(0.8);
  -ms-transform: translate(0, -17%) scale(0.8);
  transform: translate(0, -17%) scale(0.8);
}
.m-front-4 .card-img {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, -26%) scale(0.7);
  -moz-transform: translate(0, -26%) scale(0.7);
  -o-transform: translate(0, -26%) scale(0.7);
  -ms-transform: translate(0, -26%) scale(0.7);
  transform: translate(0, -26%) scale(0.7);
}
.card-imgWrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.card-imgTag {
  height: 100%;
}
.card-imgOverlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #012c30;
}
.m-front-1 .card-imgOverlay {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.m-front-2 .card-imgOverlay {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.m-front-3 .card-imgOverlay {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  width: 100.2%;
}
.m-front-4 .card-imgOverlay {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.card-title {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  text-align: center;
  position: absolute;
  padding-top: 1em;
  top: 79%;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%) scale(0.5);
  -moz-transform: translate(-50%, -30%) scale(0.5);
  -o-transform: translate(-50%, -30%) scale(0.5);
  -ms-transform: translate(-50%, -30%) scale(0.5);
  transform: translate(-50%, -30%) scale(0.5);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: 1.6rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-front-1 .card-title {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -webkit-transform: translate(-50%, 0) scale(1);
  -moz-transform: translate(-50%, 0) scale(1);
  -o-transform: translate(-50%, 0) scale(1);
  -ms-transform: translate(-50%, 0) scale(1);
  transform: translate(-50%, 0) scale(1);
}
.card-title.m-rated {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(-50%, 30%) scale(1.4);
  -moz-transform: translate(-50%, 30%) scale(1.4);
  -o-transform: translate(-50%, 30%) scale(1.4);
  -ms-transform: translate(-50%, 30%) scale(1.4);
  transform: translate(-50%, 30%) scale(1.4);
}
#reload {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
