html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  overflow: auto;
  background-color: #2cb4d6;
  color: #fff;
}
.swiper-queue {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.card-img {
  display: none;
  position: absolute;
  top: 15%;
  bottom: 10%;
  left: 0;
  right: 0;
  transform: translate(0, 0);
}
.card-img.tween {
  transition: all 0.3s ease-out;
}
.m-front-1 .card-img {
  display: block;
  opacity: 1;
}
.m-front-2 .card-img {
  display: block;
  transform: translate(0, -9%) scale(0.9);
  opacity: 0.8;
}
.m-front-3 .card-img {
  display: block;
  transform: translate(0, -17%) scale(0.8);
  opacity: 0.5;
}
.m-front-4 .card-img {
  display: block;
  opacity: 0;
  transform: translate(0, -26%) scale(0.7);
}
.card-imgWrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}
.card-imgTag {
  height: 100%;
}
.card-imgOverlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #2cb4d6;
}
.m-front-1 .card-imgOverlay {
  opacity: 0;
}
.m-front-2 .card-imgOverlay {
  opacity: 0.2;
}
.m-front-3 .card-imgOverlay {
  opacity: 0.4;
}
.m-front-4 .card-imgOverlay {
  opacity: 1;
}
.card-title {
  opacity: 0;
  text-align: center;
  position: absolute;
  padding-top: 1em;
  top: 90%;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -20%) scale(0.9);
  transition: all 0.3s ease-out;
}
.m-front-1 .card-title {
  opacity: 1;
  transform: translate(-50%, 0) scale(1);
}
.card-title.m-rated {
  opacity: 0;
  transform: translate(-50%, 20%) scale(1.1);
}
#reload {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
