html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  background-color: #000;
}
body {
  background: url("../images/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #74c6be;
  font-family: 'AvenirNext-Regular', 'helvetica light', 'arial', 'sans';
}
.state {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.swiper-queue {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.card-img {
  position: absolute;
  top: 15%;
  bottom: 21%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.card-img.m-rated {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.card-img.tween {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.m-front-3 .card-img {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, -26%) scale(0.7);
  -moz-transform: translate(0, -26%) scale(0.7);
  -o-transform: translate(0, -26%) scale(0.7);
  -ms-transform: translate(0, -26%) scale(0.7);
  transform: translate(0, -26%) scale(0.7);
}
.m-front-2 .card-img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, -17%) scale(0.8);
  -moz-transform: translate(0, -17%) scale(0.8);
  -o-transform: translate(0, -17%) scale(0.8);
  -ms-transform: translate(0, -17%) scale(0.8);
  transform: translate(0, -17%) scale(0.8);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.m-front-1 .card-img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, -9%) scale(0.9);
  -moz-transform: translate(0, -9%) scale(0.9);
  -o-transform: translate(0, -9%) scale(0.9);
  -ms-transform: translate(0, -9%) scale(0.9);
  transform: translate(0, -9%) scale(0.9);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.m-front-0 .card-img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, 0) scale(1);
  -moz-transform: translate(0, 0) scale(1);
  -o-transform: translate(0, 0) scale(1);
  -ms-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.card-imgWrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.card-imgTag {
  height: 100%;
}
.card-imgOverlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.card-imgOverlay:after {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  content: attr(data-content);
  font-size: 3rem;
  font-family: AvenirNext-Bold;
}
.m-front-3 .card-imgOverlay {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.m-front-2 .card-imgOverlay {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  width: 100.2%;
}
.m-front-1 .card-imgOverlay {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.m-front-0 .card-imgOverlay {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.card-title {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  text-align: center;
  position: absolute;
  padding-top: 1em;
  top: 79%;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%) scale(0.5);
  -moz-transform: translate(-50%, -30%) scale(0.5);
  -o-transform: translate(-50%, -30%) scale(0.5);
  -ms-transform: translate(-50%, -30%) scale(0.5);
  transform: translate(-50%, -30%) scale(0.5);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-front-0 .card-title {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -webkit-transform: translate(-50%, 0) scale(1);
  -moz-transform: translate(-50%, 0) scale(1);
  -o-transform: translate(-50%, 0) scale(1);
  -ms-transform: translate(-50%, 0) scale(1);
  transform: translate(-50%, 0) scale(1);
}
.card-title.m-rated {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(-50%, 30%) scale(1.4);
  -moz-transform: translate(-50%, 30%) scale(1.4);
  -o-transform: translate(-50%, 30%) scale(1.4);
  -ms-transform: translate(-50%, 30%) scale(1.4);
  transform: translate(-50%, 30%) scale(1.4);
}
#reload {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.home {
  text-align: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.home-title {
  padding-top: 17%;
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -o-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.home-instructions {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.home-start {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.home-titleText {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  font-family: AvenirNext-Heavy;
  font-size: 4.375rem;
  text-transform: uppercase;
  line-height: 4.375rem;
  background: -webkit--webkit-linear-gradient(#e4ffff, #74c6be);
  background: -webkit--moz-linear-gradient(#e4ffff, #74c6be);
  background: -webkit--o-linear-gradient(#e4ffff, #74c6be);
  background: -webkit--ms-linear-gradient(#e4ffff, #74c6be);
  background: -webkit-linear-gradient(#e4ffff, #74c6be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-titleText.m-subtitle {
  -webkit-text-stroke-width: 0px;
  -webkit-text-fill-color: initial;
  color: #74c6be;
  font-size: 1.75rem;
  line-height: 1.75rem;
}
.home-poweredby {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 1.1rem auto 0 auto;
  max-width: 420px;
  width: 100%;
}
.home-poweredbyLabel {
  display: inline-block;
  font-size: 0.7rem;
}
.home-poweredbyLogo {
  display: inline-block;
  width: 5rem;
}
.home-instructionsText {
  display: block;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
.btn {
  padding: 1rem 3rem;
  background: rgba(255,255,255,0.1);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.summary {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 4rem;
}
.summary-title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.summary-subtitle {
  font-size: 1.25rem;
  margin: 1rem 0;
}
.summary-list {
  margin: 0;
  padding: 0 1rem 0 1rem;
}
.summary-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  list-style: none;
  height: 6rem;
  padding-bottom: 1rem;
}
.summary-itemImg {
  height: 100%;
}
.summary-itemRating {
  padding-left: 1rem;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.summary-itemRatingProgressWrapper {
  width: 100%;
  height: 0.5rem;
  margin-top: 1rem;
  position: relative;
}
.summary-itemRatingProgressBg {
  width: 100%;
  background-color: #c8eeca;
  height: 0.5rem;
  position: absolute;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.summary-itemRatingProgressWrapper.m-liked .summary-itemRatingProgressBg {
  background-color: #c8eeca;
}
.summary-itemRatingProgressWrapper.m-disliked .summary-itemRatingProgressBg {
  background-color: #eec8c8;
}
.summary-itemRatingProgress {
  height: 0.5rem;
  position: absolute;
}
.summary-itemRatingProgressWrapper.m-liked .summary-itemRatingProgress {
  background-color: #90dc95;
}
.summary-itemRatingProgressWrapper.m-disliked .summary-itemRatingProgress {
  background-color: #dc9090;
}
.summary-itemRatingText {
  margin: 0.4rem 0;
  font-size: 0.9rem;
}
.summary-controls {
  text-align: center;
  padding-top: 2rem;
}
.instructions {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.4);
  pointer-events: none;
}
.instructions.m-center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.instructions-swipeArrow {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -o-box-flex: 4;
  box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.instructions-swipeArrowImgParent {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 0;
  padding-bottom: 25%;
  position: relative;
}
.instructions-swipeArrowImgChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.instructions-swipeArrowImg {
  margin-top: 20%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.instructions-swipeLabels {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -o-box-flex: 5;
  box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.instructions-swipeLabel {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: AvenirNext-Bold;
  font-size: 1.5rem;
}
.instructions-swipeLabel.m-negative {
  color: #dc9090;
  padding-left: 6%;
}
.instructions-swipeLabel.m-positive {
  color: #90dc95;
  text-align: right;
  padding-right: 6%;
}
