html {
  height: 100%;
  overflow: hidden;
  font-size: 100%;
  background-color: #000;
}
body {
  margin: 0px;
  height: 100%;
  overflow: auto;
  background: url("../images/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #74c6be;
  font-family: 'AvenirNext-Regular', 'helvetica light', 'arial', 'sans';
}
.swiper-queue {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.card-img {
  display: none;
  position: absolute;
  top: 15%;
  bottom: 21%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.card-img.m-rated {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.card-img.tween {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.m-front-1 .card-img {
  display: block;
}
.m-front-2 .card-img {
  display: block;
  -webkit-transform: translate(0, -9%) scale(0.9);
  -moz-transform: translate(0, -9%) scale(0.9);
  -o-transform: translate(0, -9%) scale(0.9);
  -ms-transform: translate(0, -9%) scale(0.9);
  transform: translate(0, -9%) scale(0.9);
}
.m-front-3 .card-img {
  display: block;
  -webkit-transform: translate(0, -17%) scale(0.8);
  -moz-transform: translate(0, -17%) scale(0.8);
  -o-transform: translate(0, -17%) scale(0.8);
  -ms-transform: translate(0, -17%) scale(0.8);
  transform: translate(0, -17%) scale(0.8);
}
.m-front-4 .card-img {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, -26%) scale(0.7);
  -moz-transform: translate(0, -26%) scale(0.7);
  -o-transform: translate(0, -26%) scale(0.7);
  -ms-transform: translate(0, -26%) scale(0.7);
  transform: translate(0, -26%) scale(0.7);
}
.card-imgWrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.card-imgTag {
  height: 100%;
}
.card-imgOverlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #012c30;
}
.m-front-1 .card-imgOverlay {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.m-front-2 .card-imgOverlay {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.m-front-3 .card-imgOverlay {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  width: 100.2%;
}
.m-front-4 .card-imgOverlay {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.card-title {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  text-align: center;
  position: absolute;
  padding-top: 1em;
  top: 79%;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%) scale(0.5);
  -moz-transform: translate(-50%, -30%) scale(0.5);
  -o-transform: translate(-50%, -30%) scale(0.5);
  -ms-transform: translate(-50%, -30%) scale(0.5);
  transform: translate(-50%, -30%) scale(0.5);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-front-1 .card-title {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -webkit-transform: translate(-50%, 0) scale(1);
  -moz-transform: translate(-50%, 0) scale(1);
  -o-transform: translate(-50%, 0) scale(1);
  -ms-transform: translate(-50%, 0) scale(1);
  transform: translate(-50%, 0) scale(1);
}
.card-title.m-rated {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(-50%, 30%) scale(1.4);
  -moz-transform: translate(-50%, 30%) scale(1.4);
  -o-transform: translate(-50%, 30%) scale(1.4);
  -ms-transform: translate(-50%, 30%) scale(1.4);
  transform: translate(-50%, 30%) scale(1.4);
}
#reload {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.home {
  padding-top: 3rem;
  text-align: center;
}
.home-title {
  margin: 0;
  font-family: AvenirNext-Heavy;
  font-size: 4.375rem;
  text-transform: uppercase;
  line-height: 4.375rem;
  background: -webkit--webkit-linear-gradient(#e4ffff, #74c6be);
  background: -webkit--moz-linear-gradient(#e4ffff, #74c6be);
  background: -webkit--o-linear-gradient(#e4ffff, #74c6be);
  background: -webkit--ms-linear-gradient(#e4ffff, #74c6be);
  background: -webkit-linear-gradient(#e4ffff, #74c6be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-title.m-subtitle {
  -webkit-text-stroke-width: 0px;
  -webkit-text-fill-color: initial;
  color: #74c6be;
  font-size: 1.75rem;
  line-height: 1.75rem;
}
.home-poweredby {
  margin: 1.1rem auto 0 auto;
  max-width: 420px;
  width: 100%;
}
.home-poweredbyLabel {
  display: inline-block;
  font-size: 0.7rem;
}
.home-poweredbyLogo {
  display: inline-block;
  width: 5rem;
}
.home-instructions {
  display: block;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
.home-instructions:first-of-type {
  padding-top: 4rem;
}
.home-swipe {
  margin: 0 auto 2rem auto;
  max-width: 420px;
  width: 100%;
}
.home-swipeArrowImg {
  margin-top: -10%;
  margin-bottom: -30%;
  width: 70%;
}
.home-swipeLabel {
  display: inline-block;
  font-family: AvenirNext-Bold;
  font-size: 1.5rem;
  width: 49%;
}
.home-swipeLabel.m-negative {
  color: #dc9090;
}
.home-swipeLabel.m-positive {
  color: #90dc95;
}
.btn {
  padding: 1rem 3rem;
  background: rgba(255,255,255,0.1);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  line-height: 3rem;
}
.summary {
  text-align: center;
}
.summary-title {
  text-transform: uppercase;
  font-size: 2rem;
}
