<div class="card">
  <div class="card-img tween">
    <div class="card-imgWrapper">
      <img class="card-imgTag" src="{{src}}" />
      <div class="card-imgOverlay"></div>
    </div>
  </div>
  <span class="card-title">{{title}}</span>
</div>
