<div class="swiper">
  <div class="swiper-queue">
    {{!-- <div class="swiper-imgWrapper">
      <img class="swiper-img tween" src="images/dvd/6.jpg" />
      <div class="swiper-imgCover"></div>
      <span class="swiper-imgTitle">Title</span>
    </div> --}}
{{!--     <img class="swiperImg tween" src="images/dvd/6.jpg" />
    <img class="swiperImg tween" src="images/dvd/5.jpg" />
    <img class="swiperImg tween" src="images/dvd/4.jpg" />
    <img class="swiperImg tween" src="images/dvd/1.jpg" />
    <img class="swiperImg tween" src="images/dvd/2.jpg" />
    <img class="swiperImg tween" src="images/dvd/3.jpg" /> --}}
  </div>
  <button id="reload" onclick="window.location.reload()">Reload</button>
</div>
