<section class="home">

  <div class="home-title">
    <h1 class="home-titleText">Cover</h1>
    <h2 class="home-titleText m-subtitle">Extravaganza</h2>
    <div class="home-poweredby">
      <span class="home-poweredbyLabel">Powered by</span>
      <img class="home-poweredbyLogo" src="images/mmlogo.svg"/>
    </div>
  </div>

  <div class="home-instructions">
    <span class="home-instructionsText">Judge the covers.</span>
    <span class="home-instructionsText">Swipe left or right.</span>
  </div>
  {{!--
  <div class="home-swipe">
    <div class="home-swipeArrow">
      <img class="home-swipeArrowImg" src="images/arrows.svg"/>
    </div>
    <div class="home-swipeLabel m-negative">Nah!</div>
    <div class="home-swipeLabel m-positive">Yea!</div>
  </div> --}}
  <div class="home-start">
    <a class="btn">Start</a>
  </div>

</section>
