<section class="home">

  <h1 class="home-title">Cover</h1>
  <h2 class="home-title m-subtitle">Extravaganza</h2>
  <div class="home-poweredby">
    <span class="home-poweredbyLabel">Powered by</span>
    <img class="home-poweredbyLogo" src="images/mmlogo.svg"/>
  </div>
  <span class="home-instructions">Judge the covers.</span>
  <span class="home-instructions">Swipe left or right.</span>
  <div class="home-swipe">
    <div class="home-swipeArrow">
      <img class="home-swipeArrowImg" src="images/arrows.svg"/>
    </div>
    <div class="home-swipeLabel m-negative">Nah!</div>
    <div class="home-swipeLabel m-positive">Yea!</div>
  </div>
  <a class="home-start btn">Start</a>

</section>
