<div class="instructions m-center">
  <div class="instructions-swipeArrow">
    <div class="instructions-swipeArrowImgParent">
      <div class="instructions-swipeArrowImgChild">
        <img class="instructions-swipeArrowImg" src="images/arrows.svg"/>
      </div>
    </div>
  </div>
  <div class="instructions-swipeLabels">
    <div class="instructions-swipeLabel m-negative">Nah!</div>
    <div class="instructions-swipeLabel m-positive">Yea!</div>
  </div>
</div>
