<div class="summary">
    <h1 class="summary-title">Summary</h1>

    <ul class="summary-list">
        {{#each collection}}
            <li class="summary-item">
                <img class="summary-itemImg" src="{{src}}"/>
                <div class="summary-itemText">
                    <span class="summary-itemTitle">{{title}}</span>
                    <div class="summary-itemRating">
                        <span>You:</span>
                        <span>{{rating}}</span>
                        <span>Avg:</span>
                        <span>N/A</span>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>

    <div class="summary-controls">
        <a class="summary-controlsBtn goToDeck btn">Again</a>
        <a class="summary-controlsBtn goToHome btn">Home</a>
    </div>

</div>
